.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  /* padding: 20px; */
  padding-top: 20px;
  z-index: 1;
  justify-content: space-between;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.black {
  background-color: #111;
}
.logo {
  width: 80px;
  padding-left: 20px;
  left: 10px;
  object-fit: contain;
}
.logo2 {
  width: 30px;
  right: 20px;
  padding-right: 20px;
  object-fit: contain;
}
